# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Other build files
*buildstamp
src/spidermonkey/js
src/pactester

# OS specific files
.DS_Store
