# Object files
*.o

# Python bytecode
*.pyc
*.pyo

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Packages
tools/packages
*.dmg
*.pkg

# Other build files
pymod/build
pymod/pacparser.egg-info
*buildstamp
spidermonkey/js
pactester

# Temporary files resulting from tests.
stderr.tmp
stdout.tmp
pac.js.tmp

# OS specific files
.DS_Store
