Source: pacparser
Priority: extra
Maintainer: manu garg <manugarg@gmail.com>
Build-Depends: debhelper (>= 5), libmozjs-dev, libmozjs0d, python (>=2.2)
Standards-Version: 3.7.2
Section: libs

Package: libpacparser-dev
Section: libdevel
Architecture: any
Depends: libpacparser (= ${Source-Version})
Description: Development package for libpacparser.
 This package contains files required to parse C programs against pacparser.

Package: libpacparser
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: pacparser C shared library.
 pacparser library defines and exports methods needed to parse proxy
 auto-config (PAC) files. Homepage: http://code.google.com/p/pacparser

Package: python-pacparser
Section: python
Architecture: any
Depends: ${shlibs:Depends}, python (>=2.2)
Description: pacparser python module.
 pacparser python module provides methods needed to parse proxy auto-config
 (PAC) files. Homepage: http://code.google.com/p/pacparser
