Source: pacparser
Priority: extra
Maintainer: manu garg <manugarg@gmail.com>
Build-Depends: debhelper (>= 5), python-dev (>=2.2), python-central(>=0.5.6), quilt(>=0.46-7)
XS-Python-Version: >=2.2, <<3.0
Standards-Version: 3.9.1
Section: libs

Package: libpacparser-dev
Section: libdevel
Architecture: any
Depends: libpacparser1 (= ${binary:Version}), ${misc:Depends}
Homepage: http://code.google.com/p/pacparser
Description: Development package for libpacparser1
 This package contains headers required to compile C programs against pacparser.

Package: libpacparser1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Homepage: http://code.google.com/p/pacparser
Description: pacparser C shared library
 pacparser library defines and exports methods needed to parse proxy
 auto-config (PAC) files. For more information on pacparser, visit its

Package: pactester
Section: utils
Architecture: any
Depends: ${shlibs:Depends}, libpacparser1 (>= ${binary:Version}), ${misc:Depends}
Homepage: http://code.google.com/p/pacparser
Description: PAC (proxy auto-config) files tester
 pactester is a command line utility to test pac (proxy auto-config) files.

Package: python-pacparser
Section: python
Architecture: any
Depends: ${shlibs:Depends}, ${python:Depends}, ${misc:Depends}
XB-Python-Version: ${python:Versions}
Provides: ${python:Provides}
Homepage: http://code.google.com/p/pacparser
Description: pacparser Python module
 This module provides Python bindings for pacparser library, a library to parse
 proxy auto-config (PAC) files. For more information on pacparser, visit its
